<div class="container">
    <div class="row">
        <div class="col-6 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">List of registred Users :</div>
                <div class="panel-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Password</th>
                                <th scope="col">Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of listUsers">
                                <th class="" scope="row">--</th>
                                <td>{{u.username}}</td>
                                <td>{{u.password}}</td>
                                <td>
                                    <div *ngFor="let r of u.roles; let i = index;  last as islast">
                                        {{r.roleName}}
                                        <span *ngIf="!islast">,</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Registration</div>
                <div class="panel-body">
                    <form #register="ngForm" (ngSubmit)="onRegister(register.value)">
                        <div class="form-group">
                            <label for="" class="control-label">Username :</label>
                            <input class="form-control" type="text" name="username" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">Paswword :</label>
                            <input class="form-control" type="text" name="password" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">Paswword confirmation :</label>
                            <input class="form-control" type="text" name="repassword" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">Role :</label>
                            <input class="form-control" type="text" name="role" ngModel>
                        </div>
                        <button type="submit" class="btn btn-warning">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>