<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
                <div class="panel panel-primary">
                        <div class="panel-heading">List of documents :</div>
                        <div class="panel-body">
                                <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Time</th>
                                                    <th scope="col">Responsible</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let d of listDocuments ">
                                                        <th class="" scope="row">--</th>
                                                        <td>{{d.name}}</td>
                                                        <td>{{d.generationDate}}</td>
                                                        <td>{{d.responsible}}</td>
                                                </tr>
                                        </tbody>
                                    </table>
                        </div>
                    </div>
        </div>
    </div>
</div>



  