<div class="container">
    <div class="alert alert-danger" *ngIf="error==1">Baaaad Auth ! :) </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Authentication</div>
            <div class="panel-body">
                <form #login="ngForm" (ngSubmit)="onLogin(login.value)">
                    <div class="form-group">
                        <label for="" class="control-label">Username :</label>
                        <input value="youssef" class="form-control" type="text" name="username" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Paswword :</label>
                        <input class="form-control" type="text" name="password" ngModel>
                    </div>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>