<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="home" class="">Home :)</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="documents" class="">Documents</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="auth/signup" class="">Registration</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active" *ngIf="currentUser">
                <a class="text-primary">Connected User :{{currentUser}}</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="auth/signin" *ngIf="!currentUser">Login</a>
            </li>
            <li routerLinkActive="active" *ngIf="currentUser">
                <a (click)="logout()"> Logout</a>
            </li>
        </ul>
    </div>
</nav>